<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa tìm kiếm ...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>